@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: #252525;
}

a {
    text-decoration: none;
}

.menu-container ul {
    display: flex;
}

.menu-container ul li {
    list-style-type: none;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    &:first-child{
        margin-left: 0px;
    }
}

.menu-container {
    padding: 10px;
    display: grid;
}

.menu-container h2:first-child{
    margin-top: 90px;
}