@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background-color: #252525;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 100%;
    grid-template-areas: 
    "header header header"
    "body body body"
    "footer footer footer";
    height: 100%;
}

.body-container {
    height: 100%;
    margin: 10px;
    grid-area: body;
}

.toolbar {
    grid-area: header;
}

.footer {
    grid-area: footer;
    padding-top: 20px;
    text-align: center;
    display: block;
    background-color: #1c1c1c;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #ffffff00
}
#title-container {
    display: flex;
    align-items: center;
    width: 50%;
}

#title-container h2 {
    margin-left: 5px;
}

#visao {
    margin-top: 80px;
}

a {
    text-decoration: none;
}

#title-container h2:hover {
    color: #b56ab0;
}

a h2:hover {
    color: #b56ab0;
    border: 1px solid #b56ab0;
    padding: 8px;
    border-radius: 5px;
}

.dialog-container {
    position: fixed;
    left: 10px;
    top: 90px;
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1;
    margin: 24px;
    padding: 8px;
}

.dialog-box {
    background-color: #570552;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 5px #ffffff36;

    & a:hover {
        color: #dc83d6;
    }

    & h2 {
        text-shadow: 2px 2px 15px #ffffffa1;
    }
}

button {
    background-color: #b56ab0;
    border: none;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;

    &:hover {
        background-color: #853c80;
    }
}

#abtn {
    background-color: #b56ab0;
    padding: 8px;
    box-shadow: 2px 2px 10px #8c8b8b36;
    border-radius: 5px;

    &:hover {
        background-color: #853c80;
    }
}



.fab-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;

}

.fab {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: #853c80;
    box-shadow: 2px 2px 20px 5px #dc83d657;
    border-radius: 50%;
    padding: 8px;
    bottom: 30px;
    right: 30px;
}

.fab:hover {
    box-shadow: 2px 2px 20px 10px #dc83d657;
    width: 35px;
    height: 35px;
}

.rate-container {
    flex-wrap: wrap;
    display: flex;
    max-width: 100%;
}

.rate-box {
  padding: 10px;
  margin: 5px;
  background-color: #323232;
  border-radius: 10px;
  max-width: 350px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #323232;
  transition: all 0.3s ease-out;
}

.rate-info img {
    border-radius: 100px;
    width: 60px;
    height: 60px;
}

.rate-info h2 {
    margin-left: 10px;
    margin-right: 10px;
}

.rate-info {
    display: flex;
    align-items: center;
}

.checked {
    color: orange;
}