@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto&display=swap');

* {
    font-family: roboto;
    background-color: #252525;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title {
    background-color: #570552;
    border-radius: 10px;
    width: auto;
    padding: 8px;
    text-align: center;
    box-shadow: 2px 3px 5px #323232;
    font-size: 35px;

}

.input-container {
    margin-bottom: 10px;
}

.input-container label {
    font-weight: 400;
}

input {
    margin-top: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
    font-size: 14px;
}

::placeholder {
    color: #9b9b9b;
}

#send {
    width: 250px;
    background-color: #4c1658;
    border-color: #00000000;
    box-shadow: 2px 2px 5px #4848485d;
}

#send:hover {
    box-shadow: 2px 2px 15px #4848485d;
    padding: 10px;
    font-size: 16px;
}

input[type=text]:focus {
    width: 200px;
    box-shadow: 2px 2px 5px #a1a1a167;
}

input[type=text] {
    background: #323232;
}