.toolbar {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    background-color: #570552;
    width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 10px 5px #0000005f;
    overflow: hidden;
}

.toolbar-box {
    display: flex;
    width: 100%;
    align-items: center;
}

.menu a {
   float: right;
    display: block;
    text-transform: uppercase;
    padding: 5px;
    &:hover {
        color: #ff9cf8;
    }
}

.menu {
    width: 100%;
    margin-right: 20px;
    float: left;
}

.menu .icon {
    display: none;
}

#title {
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
    animation: neonText 15s linear infinite;
}

#logo {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

@keyframes neonText {
    0% {
        text-shadow: 4px 5px 15px #ffffffa1;
    }
    50% {
        text-shadow: 4px 5px 20px #ffffffa1;
    }
    100% {
        text-shadow: 4px 5px 25px #ffffffa1;
    }
}

@media screen and (max-width: 767px) {
    .menu a { 
        display: none; 
    }
    .menu .icon {
      float: right;
      display: block;
    }
  }

@media screen and (max-width: 767px) {
    #logo {
        width: 35px;
        height: 35px;
    }

    #title {
        font-size: 20px;
    }

    .menu.responsive {
        margin-top: 10px;
    }

   .menu.responsive .icon {
        display: block;
        right: 0;
        top: 0;
    }

    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .toolbar.responsive {
        display: block;
    }
}

